<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d5268630b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script-->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body style="background: linear-gradient(to right, #232526, #414345);">
   <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><i class="fa-regular fa-user"></i> Bienvenido {{login}}</span>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row m-2 p-2">
                    <img src="{{ url_for('static', filename='img/' + destino["teaser"]) }}">
                </div> 
                                <div class="row">
                    <p style="color:white;font-family: Arial, Helvetica, sans-serif;font-size:20pt;">
                        {{ destino["nombre"] }}</p>
                </div>
                <div class="row">
                    <p style="color:white;font-family: Arial, Helvetica, sans-serif;font-size:12pt">
                        {{ destino["resumen"] }}</p>
                </div>          
                <div class="row">
                    <p style="color:white;font-family: Arial, Helvetica, sans-serif;font-size:12pt">
                        Servicios: </p>
                    <p style="color:gray;font-family: Arial, Helvetica, sans-serif;font-size:12pt">
                        {{ destino["servicios"] }}</p>              
                </div>                
            </div> 

            <div class="col-6 ml-auto justify-content-end">
            <div class="row m-2 p-2 justify-content-end" >
                <p style="color:white;font-family: Arial, Helvetica, sans-serif;font-size:16pt">
                    Precio medio:
                <font style="color:gray;font-family: Arial, Helvetica, sans-serif;font-size:16pt">
                    {{ destino["precio"] }}</font></p>   
            </div>
                    <div class="row m-2 p-2 justify-content-end" > 
                <img src="{{ url_for('static', filename='img/' + destino["img"]) }}" 
                     style="height:540px;width: 450px;border-radius: 25px">
            </div>
             <div class="row">
                 <!-- pintamos tantas estrellas como valoración -->
                 {% for i in range(1,valoracion + 1) %}
                    <img class="img-fluid" id="like_{{ i }}" src="static/img/estrella_llena.png" 
                      style="width:50px;height:25px">
                 {% endfor %}
                 {% for i in range(valoracion + 1,6) %}
                    <img class="img-fluid" id="like_{{ i }}" src="static/img/estrella.png" 
                      style="width:50px;height:25px">
                 {% endfor %}
             </div> 
            {% if not valoracion %}
            <div class="row" id="zonap">
                <button type="button" class="btn btn-primary" id="predecir">¿Me gustará?</button>                
            </div>
            {% endif %}

     </div>
    </div>

</body>
</html>

<script>
        $(document).on("click", '[id^="like_"]',  function(e) {
            event.preventDefault();
            likes = parseInt(e.target.id.split("_")[1]);
            //cambiamos estrella amarilla a los likes anteriores
            for (i=1; i<= likes;i++) {
              $("#like_" + i).attr("src","static/img/estrella_llena.png")
            }
            //cambiamos a estrella gris a los posteirors
            for (i=likes + 1; i<= 5;i++) {
              $("#like_" + i).attr("src","static/img/estrella.png")
            }
            //llamamos a python para guardar en bd
            $.ajax({
                  url:"/actualizar_like",
                  type:"POST",
                  data: {"value":likes,"usuario":"{{ login }}","destino":"{{ destino["nombre"] }}"},
                  success: function(response){
      
                  },
                  error: function(error){
                  //console.log(error);
                  },
                });
        });

      $("#predecir").click(function(e){
            event.preventDefault();
            $.ajax({
                  url:"/me_gustara",
                  type:"POST",
                  data: {"usuario":"{{ login }}","destino":"{{ destino["nombre"] }}"},
                  success: function(response){
                    document.getElementById("zonap").innerHTML = response
                  },
                  error: function(error){
                  //console.log(error);
                  },
                });            
        });

    </script>
